<!DOCTYPE html>
<html class="no-js{# {{ fn('is_front_page') ? ' no-scroll' }} #}" {{ site.language_attributes }}>

	<head>
		{% include "includes/analytics.twig" %}
		<meta charset="{{ site.charset }}">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, minimal-ui">
		<meta name="author" content="Curious Ways">
		<meta name="theme-color" content="{{ home.background_colour }}">
		{% include 'includes/fonts.twig' %}
		{{ function('wp_head') }}
	</head>

	<body class="{{ body_class }} {{ home.copy_colour }}">

		{% include 'includes/analytics--noscript.twig' %}
		{% include 'header.twig' %}

		<main>
			{% block content %}Sorry, no content{% endblock %}
		</main>

		{% include 'footer.twig' %}
		{{ function('wp_footer') }}

	</body>
</html>
