<!DOCTYPE html>
<html class="no-js" {{ site.language_attributes }}>

	<head>
		{% include "includes/analytics.twig" %}
		<!-- Hotjar Tracking Code for https://www.hungertv.com/ --> 
		<script> (function(h,o,t,j,a,r){ h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)}; h._hjSettings={hjid:2930437,hjsv:6}; a=o.getElementsByTagName('head')[0]; r=o.createElement('script');r.async=1; r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv; a.appendChild(r); })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv='); </script>		
		<meta charset="{{ site.charset }}">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, minimal-ui">
		<meta name="author" content="Curious Ways">
		<meta name="theme-color" content="{{ home.background_colour }}">
		{% include 'includes/fonts.twig' %}
		{{ function('wp_head') }}
	</head>

	<body class="{{ body_class }} {{ home.copy_colour }}">

		{% include 'includes/analytics--noscript.twig' %}
		{% include 'header.twig' %}

		<main>
			{% block content %}{% endblock %}
		</main>

		{% include 'footer.twig' %}
		{{ function('wp_footer') }}

	</body>
</html>
