{% extends "base.twig" %}

{% block content %}

	<article class="issue">

		{# <header>
			<div class="row">
				<div class="col">
					<a href="{{ fn('get_post_type_archive_link', 'issue') }}">Shop</a> - {{ post.buy_now_title ? post.buy_now_title : post.title }}
				</div>
			</div>
		</header> #}

		<div class="row">
			<div class="col lg:4 md:6">
				{% include 'includes/image.twig' with {
					image: post.thumbnail,
					size: 'portrait'
				} %}
			</div>
			<div class="col lg:8">
				<header>
					<h1>
						{{ post.title }}
						{{ post.buy_now_title ? '<br>' ~ post.buy_now_title }}
					</h1>
					{% if post.post_excerpt %}
						<p class="beta">{{ post.post_excerpt }}</p>
					{% endif %}
				</header>
				{% if post.content %}
					<div class="rte">
						{{ post.content }}
					</div>
				{% endif %}
				<footer>
					{% if post.buy_now_url %}
						<a
							href="{{ post.buy_now_url }}"
							class="button"
							target="_blank"
							rel="noopener"
						>
							Buy now
							{% include 'icons/external-link.svg' %}
						</a>
					{% endif %}
					{% include 'includes/share.twig' %}
				</footer>
			</div>
		</div>

	</article>

	{% if post.slideshow %}
		<section>
			<div class="row">
				<div class="col">
					<h2>Featured in this issue</h2>
				</div>
			</div>
			{% include 'includes/carousel.twig' with { images: post.slideshow } %}
		</section>
	{% endif %}

	{% if issues|length %}
		<section>
			<div class="row">
				<div class="col">
					<h2>More Issues</h2>
				</div>
			</div>
			<div class="row">
				{% for post in issues %}
					<div class="col lg:4 md:6">
						{% include 'includes/card--issue.twig' %}
					</div>
				{% endfor %}
			</div>
		</section>
	{% endif %}

{% endblock %}
