{% extends "base.twig" %}

{% block content %}

	<article>

		<header>
			<div class="row">
				<div class="col half">
					<a href="{{ fn('get_post_type_archive_link', 'issue') }}">Shop</a> - {{ post.buy_now_title ? post.buy_now_title : post.title }}
				</div>
			</div>
		</header>

		<section>
			<div class="row">
				<div class="col half">
					{% include 'includes/image.twig' with { image: post.thumbnail } %}
				</div>
				<div class="col half">
					<h1>{{ post.title }}</h1>
					{% if post.content %}
						<div class="rte">
							{{ post.content }}
						</div>
					{% endif %}
					{% if post.buy_now_url %}
						<a href="{{ post.buy_now_url }}" class="button">Purchase</a>
					{% endif %}
				</div>
			</div>
		</section>

		<section>
			{% for issue in latest_issue %}
				<h2><a href="{{ issue.link }}">{{ issue.title }} - Latest Magazine</a></h2>
			{% endfor %}
		</section>

	</article>

{% endblock %}
