{% extends "base.twig" %}

{% block content %}

	{% include 'includes/image.twig' with { image: post.thumbnail } %}

	<header>
		<div class="row">
			<div class="col">
				{% for item in post.terms('section') %}
					<a href="{{ item.link }}">{{ item.name }}</a>
				{% endfor %}
				{{ post.date|date }}
			</div>
			<div class="col">
				{% include 'includes/share.twig' %}
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h1>{{ post.title }}</h1>
			</div>
		</div>
	</header>

	<section>
		<div class="row">
			<div class="col">
				<h2>{{ post.standfirst }}</h2>
				<h2>{{ post.article_excerpt }}</h2>
			</div>
		</div>
	</section>

	{% include 'includes/article-builder.twig' %}

	<section>
		<div class="row">
			<div class="col">
				<p>{{ fn('hungertv_parse_credits', post.article_info) }}</p>
				{% include 'includes/share.twig' %}
				Tags:
				{% for item in post.terms('tag') %}
					<a href="{{ item.link }}">&num;{{ item.name|title|replace({ ' ': '' }) }}</a>
				{% endfor %}
			</div>
		</div>
	</section>

{% endblock %}
