<section>
	<div class="row">

		<div class="col lg:8 md:6">
			{% include 'includes/image.twig' with {
				size: 'two-thirds',
				sizes: '(min-width: 1024px) 66vw, (min-width: 600px) 50vw, 100vw'
			} %}
		</div>

		<div class="col lg:4 md:6">
			<h2>{{ item.title }}</h2>
			{% if item.body %}
				<div class="rte">
					{{ item.body }}
				</div>
			{% endif %}
			<a
				href="{{ item.button.url }}"
				class="button"
				{{ item.button.target ? 'target="' ~ item.button.target ~ '"' }}
			>
				{{ item.button.title ? item.button.title : 'View now' }}
				{% if item.button.target == '_blank' %}
					{% include 'icons/external-link.svg' %}
				{% endif %}
			</a>
		</div>

	</div>
</section>
