<div class="card">

	<img src="https://via.placeholder.com/360x540" alt="" />

	<div class="card__content">
		<div class="cats">
			{% for category in post.terms('section') %}
				<a href="{{ category.link }}">{{ category.name }}</a>
			{% endfor %}
		</div>
		<h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
		{# {% if post.thumbnail %}
			<img src="{{ post.thumbnail.src }}" alt="" />
		{% endif %} #}
	</div>

</div>
