<div
	class="
		hero
		hero--article
		{{ post.hero_display ? 'hero--' ~ post.hero_display }}
		{{ not article.hero_image and not article.thumbnail ? 'no-image' }}
	"
	role="banner"
	style="background-color: {{ home.background_colour }}"
>

	{% if post.hero_display != 'solid-colour' %}
		{# {% if article.hero_image or article.thumbnail %}
			{% include 'includes/image.twig' with {
				image: article.hero_image ? article.hero_image : article.thumbnail,
				classes: 'hero__image',
				size: 'hero'
			} %}
		{% endif %} #}

		{% set hero = Image(article.hero_image) %}

		<img
			src="{{ hero.src('hero') }}"
			srcset="{{ hero.src('hero--medium') }} 960w, {{ hero.src('hero') }} 1920w"
			sizes="100vw"
			class="hero__image"
			alt="{{ hero.alt }}"
			loading="lazy"
		/>
	{% endif %}

	{% if fn('is_front_page') %}
		<div class="hero__logo">
			{% include 'icons/hunger_logo.svg' %}
		</div>
	{% endif %}

	<div class="hero__content">
		{% include 'includes/cats.twig' with { post: article } %}
		<h2><a href="{{ article.link }}">{{ article.title }}</a></h2>
	</div>

</div>
