<div
	class="
		hero hero--article
		{{ post.hero_display ? ' hero--' ~ post.hero_display }}
		{{ not article.hero_image ? ' no-image' }}
	"
	role="banner"
	style="background-color: {{ home.background_colour }}"
>

	{% if post.hero_display != 'solid-colour' and article.hero_image %}
		{% include 'includes/image.twig' with {
			image: article.hero_image,
			classes: 'hero__image'
		} %}
	{% endif %}

	{% if fn('is_front_page') %}
		<div class="hero__logo">
			{% include 'icons/hunger_logo.svg' %}
		</div>
	{% endif %}

	<div class="hero__content">
		{% include 'includes/cats.twig' with { post: article } %}
		<h2><a href="{{ article.link }}">{{ article.title }}</a></h2>
	</div>

</div>
