{% if not image %}
	{% set image = item.image %}
{% endif %}

{% set image = Image(image) %}
{% set width = fn('wp_get_attachment_image_src', image.id, size)[1] %}
{% set height = fn('wp_get_attachment_image_src', image.id, size)[2] %}

{% if image is not empty %}
	<div
		class="image{{ classes ? ' ' ~ classes }}"
		style="padding-bottom: {{ height / width * 100 }}%"
	>
		<img
			src="{{ image.src(size) }}"
			srcset="{{ fn('wp_get_attachment_image_srcset', image.id, size) }}"
			alt="{{ image.alt }}"
			loading="lazy"
		/>
	</div>
{% endif %}
