<header>

	<div class="row">
		<div class="col lg:6">
			<div class="cats">
				{% for item in post.terms('section') %}
					<a href="{{ item.link }}">{{ item.name }}</a>
				{% endfor %}
			</div>
			<div class="eta">{{ post.date|date }}</div>
		</div>
		<div class="col lg:6">
			{% include 'includes/share.twig' %}
		</div>
	</div>

	<div class="row">
		<div class="col lg:9 lg:offset-2">
			<h1 class="omega">{{ post.title }}</h1>
			{% if post.standfirst %}
				<p class="beta">{{ post.standfirst }}</p>
			{% elseif post.article_excerpt %}
				<p class="beta">{{ post.article_excerpt }}</p>
			{% endif %}
		</div>
	</div>

</header>
