<ul class="social{{ classes ? ' ' ~ classes }}">
	<li><a
			href="https://www.instagram.com/{{ options.instagram }}"
			target="_blank"
			rel="noopener"
			aria-label="Visit {{ site.name }} on Instagram"
		>{% include 'icons/instagram.svg' %}</a></li>
	<li><a
			href="https://www.facebook.com/{{ options.facebook }}"
			target="_blank" 
			rel="noopener"
			aria-label="Visit {{ site.name }} on Facebook"
		>{% include 'icons/facebook.svg' %}</a></li>
	<li><a
			href="https://twitter.com/{{ options.twitter }}"
			target="_blank" 
			rel="noopener"
			aria-label="Visit {{ site.name }} on Twitter"
		>{% include 'icons/twitter.svg' %}</a></li>
	<li><a
			href="https://www.pinterest.com/{{ options.pinterest }}"
			target="_blank" 
			rel="noopener"
			aria-label="Visit {{ site.name }} on Pinterest"
		>{% include 'icons/pinterest.svg' %}</a></li>
</ul>
