<form
	action="https://hungertv.us5.list-manage.com/subscribe/post?u=dfaed807bb259c614199d67a0&amp;id=1b5d9b1f65"
	method="post"
	class="form form--signup"
>

	<div class="row">
		<div class="col lg:2 md:6">
			<div class="input">
				<input
					type="text"
					name="FNAME"
					placeholder="First name*"
					aria-label="First name"
					required
				/>
			</div>
		</div>
		<div class="col lg:2 md:6">
			<div class="input">
				<input
					type="text"
					name="LNAME"
					placeholder="Last name*"
					aria-label="Last name"
					required
				/>
			</div>
		</div>
		<div class="col lg:5 md:6">
			<div class="input">
				<input
					type="email"
					name="EMAIL"
					placeholder="Email*"
					aria-label="Email"
					required
				/>
			</div>
		</div>
		<div class="col lg:3 md:6">
			<button
				type="submit"
				class="button button--full"
			>Sign Up</button>
		</div>
	</div>

	<div class="row eta">
		<div class="col lg:6 md:6">
			<div>
				<input
					type="checkbox"
					id="{{ location ? location ~ '-' }}permission"
					name="gdpr[177]"
					value="Y"
					required
				/>
				<label for="{{ location ? location ~ '-' }}permission">I consent to joining the Hunger mailing list.</label>
				<a href="https://mailchimp.com/legal/" target="_blank" rel="noopener">Read more</a>
				
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dfaed807bb259c614199d67a0_1b5d9b1f65" tabindex="-1" value=""></div>
			</div>
		</div>
		{% if location == 'footer' %}
			<div class="col lg:6 md:6">
				<p>Copyright. {{ "now"|date('Y') }} DAI, Hunger TV. View our <a href="{{ Post(fn('get_page_by_title', 'Terms & Conditions')).link }}">T+Cs</a> and <a href="{{ Post(fn('get_page_by_title', 'Privacy Policy')).link }}">Privacy + Cookie policy</a></p>
			</div>
		{% endif %}
	</div>

</form>
