{% set post = item.article %}

<section>
	<div class="row{{ item.image_align == 'right' ? ' reverse' }}">

		{% if item.image_align %}
			<div class="col lg:8 md:6">
				{% include 'includes/image.twig' with {
					image: post.hero_image ? post.hero_image : post.thumbnail,
					size: 'grid--two-thirds',
					sizes: '(min-width: 1024px) 66vw, (min-width: 600px) 50vw, 100vw'
				} %}
			</div>
			<div class="col lg:4 md:6">
		{% else %}
			<div class="col">
				<h2>Featured Article</h2>
				{% include 'includes/image.twig' with {
					image: post.hero_image ? post.hero_image : post.thumbnail,
					size: 'grid'
				} %}
			</div>
			<div class="col lg:8">
		{% endif %}

			{% include 'includes/cats.twig' %}
			<h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
			{% if post.standfirst %}
				<p>{{ post.standfirst }}</p>
			{% elseif post.article_excerpt %}
				<p>{{ post.article_excerpt }}</p>
			{% endif %}

		</div>
	</div>
</section>
